IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioCs" 29;
IO_PORT "ioCs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioDc" 28;
IO_PORT "ioDc" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioReset" 25;
IO_PORT "ioReset" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioSdin" 26;
IO_PORT "ioSdin" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioSclk" 27;
IO_PORT "ioSclk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "sdClk" 36;
IO_PORT "sdClk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "sdMiso" 39;
IO_PORT "sdMiso" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "sdMosi" 37;
IO_PORT "sdMosi" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "sdCs" 38;
IO_PORT "sdCs" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;
